@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    @apply font-sans;
    @apply dark:bg-black bg-white dark:bg-grid-white/[0.2] bg-grid-black/[0.045];
}

@media (prefers-color-scheme: dark) {
    :root, html, body {
        @apply dark:bg-black bg-white dark:bg-grid-white/[0.08] bg-grid-black/[0.2];
    }
}
