@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  @apply font-sans;
}

[data-theme="autumn"] body, html {
  @apply bg-grid-black/[0.03];
}

@media (prefers-color-scheme: dark) {
  html[data-theme="black"] body,
  html body {
    @apply bg-grid-white/[0.1];
  }
}

body {
  background-image: var(--custom-bg-grid, none); 
}