@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  padding: 0;
  margin: 0;
  @apply font-sans;
}

/* Autumn Theme */
[data-theme="autumn"] body {
  @apply bg-grid-black/[0.045];
}

/* Black Theme and Dark Mode */
@media (prefers-color-scheme: dark) {
  html[data-theme="black"] body,
  html body {
    @apply bg-grid-white/[0.08];
  }
}

/* Override with CSS Variables for dynamic theme changes */
body {
  background-image: var(--custom-bg-grid, none); /* Use none as fallback */
}